<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页面</title>
    <link rel="stylesheet" href="../../components/lib/css/jquery-ui.min.css">
    <link rel="stylesheet" href="../../components/lib/css/evol-colorpicker.min.css">
    <!-- 引入自己的样式 -->
    <link rel="stylesheet" href="../../dist/styles/mainWindow.min.css">
    <!-- <link rel="stylesheet" href="../../dist/styles/top.css"> -->
    <!-- <link rel="stylesheet" href="../../dist/styles/main.css">     -->
</head>
<body>
    main page
    <!-- <input style="width:100px;" id="mycolor" /> -->
    <div class="content">
        <div class="outer">
            <!-- <div class="color" id="mycolor"></div>     -->
        </div>
        <input class="color" id="mycolor" />     
    </div>       
    <div class="text">
        <p>sadasfsafsaf</p>
        <p>sadasfsafsaf</p>
        <p>sadasfsafsaf</p>
        <p>sadasfsafsaf</p>
        <p>sadasfsafsaf</p>        
    </div>
</body>
<!-- 架设在服务器上时才能使用这种绝对目录的方式，从根目录开始访问 -->
<!-- <script type="text/javascript" src="/app/common/jquery-1.11.0.min.js"></script> -->
<script type="text/javascript" src="../../components/lib/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../../components/lib/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../components/lib/js/evol-colorpicker.min.js"></script>
<script src="../../dist/scripts/main.bundle.min.js"></script>
<script src="../../dist/scripts/testES6.bundle.min.js"></script>
</html>