html,body{
    background-color: rgb(200, 200, 200);
    color: #000000;
    box-sizing: border-box;
    padding: 10px;
}
.outer{
    position: relative;
    width: 120px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(91, 91, 146);
}
.color{
    position: absolute;
    top:30px;
    left:0px;
    display: none;
}

